// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
    background-color: #5b90cc;
    top: 0;
    left: 0;
}

.header_link {
    font-size: 16pt;
    color: white;
}